@page "/todo"
@using BlazorApp.Data
@inject TodoService todoService
@inject ILogger<Todo> logger

<h1>My Todos</h1>

<EditForm Model="@addTodoModel" OnSubmit="@HandleSubmit">
  <InputText @bind-Value="@addTodoModel.Desc" />
  <button type="submit">Add</button>
</EditForm>

@if (todoItems == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <ul>
    @foreach (var todo in todoItems)
    {
      <li>@todo.Title</li>
    }
  </ul>
}

@code {

  private AddTodoModel addTodoModel = new();

  private void HandleSubmit()
  {
    todoService.AddTodoItem(new TodoItem() { Title = addTodoModel.Desc });
  }
  private List<TodoItem>? todoItems;

  protected override async Task OnInitializedAsync()
  {
    todoItems = await todoService.GetTodosAsync();
  }
}